@import "../../styles/utils.scss";

:host {
  display: block;
  padding: 32px 0;
  background-color: fColor(primary);

  .logo {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 16px;

    span {
      color: fColor(cred);
    }
  }
}

a,
p {
  color: white;
  text-decoration: none;
  display: block;
}

.wrapper {
  display: flex;

  > div {
    flex: 1;
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }

    &.contact,
    &.pages {
      a {
        text-align: center;
        margin-bottom: 8px;
      }
    }

    .reseaux {
      width: 30px;
      margin: 16px 16px 16px 0;
      display: inline-block;
    }
  }

  @media (max-width: 900px) {
    flex-wrap: wrap;

    > div {
      width: 50%;
      flex: none;
      margin-right: 0;
      margin-bottom: 16px;
    }
  }

  @media (max-width: 450px) {
    > div {
      width: 100%;
    }
  }
}

b {
  color: fColor(ckale);
}

img {
  max-height: 40px;
}

.name {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
  margin-right: 16px;

  img {
    margin-right: 16px;
    width: 100px;
    max-height: inherit;
    margin-bottom: 16px;
  }
}
