@import "../../styles/utils.scss";

:host {
	display: block;
	height: 124px;

	&.is-scrolled {
		.menu {
			background-color: white;
		}
	}

	.menu {
		height: 124px;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		z-index: 1;
	}

	.wrapper {
		display: flex;
		align-items: center;
		height: 44px;
		box-sizing: initial;
		padding: 40px 0;

		a {
			color: fColor(cdarkblue);
			position: relative;
			margin-left: 32px;
			font-size: 16px;
			font-weight: normal;
			text-decoration: none;

			&:first-child {
				margin-left: 0;
			}

			&.active {
				&:after {
					content: " ";
					position: absolute;
					left: calc(50% - 15px);
					top: calc(100% + 4px);
					width: 30px;
					height: 2px;
					border-radius: 4px;
					background-color: fColor(cred);
				}
			}

			&.logo {
				font-weight: 600;
				font-size: 24px;
				color: fColor(cdarkblue);
	
				span {
					color: fColor(cred);
				}
			}

			&.is-button {
				background-color: fColor(cred);
				color: white;
				padding: 0 16px;
				height: 32px;
				line-height: 32px;
				border-radius: 32px;
			}
		}

		.burger-menu {
			margin-right: 16px;
			color: white;
		}
	}
}

.popup-menu {
	position: fixed;
	top: 80px;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: fColor(cblue);
	z-index: 1;

	a {
		margin: 14px 24px;
		width: calc(100% - 48px);
		font-size: 18px;
		color: fColor(cred);
		position: relative;
		display: inline-block;
		text-decoration: none;

		&.active:before {
			content: " ";
			position: absolute;
			left: 0;
			top: 100%;
			right: -9px;
			height: 4px;
			opacity: 0.5;
			background-color: fColor(cred);
		}
	}
}
