@font-face {
	font-family: "Epilogue-light";
	src: url("~src/lib/styles/Epilogue/static/Epilogue-ExtraLight.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Epilogue";
	src: url("~src/lib/styles/Epilogue/static/Epilogue-Regular.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Epilogue";
	src: url("~src/lib/styles/Epilogue/static/Epilogue-SemiBold.ttf");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Epilogue";
	src: url("~src/lib/styles/Epilogue/static/Epilogue-Bold.ttf");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Epilogue";
	src: url("~src/lib/styles/Epilogue/static/Epilogue-ExtraBold.ttf");
	font-weight: 600;
	font-style: normal;
}
